<h3>The Friends Quiz Continued...</h3>
<h2></h2>
<form class='form' method='post' action='/friends/{{id}}' >
<h1>{{Question}}</h1>
<ol>
  <li><input type="submit" name="A1" value="{{A1}}"></li>
  <li><input type="submit" name="A2" value="{{A2}}"></li>
  <li><input type="submit" name="A3" value="{{A3}}"></li>
  <li><input type="submit" name="A4" value="{{A4}}"></li>
  <li><input type="submit" name="A5" value="{{A5}}"></li>
  <li><input type="submit" name="A6" value="{{A6}}"></li>

  {{!-- <li><button id="1">{{A1}}</button></li><br> 
  <li><button id="2">{{A2}}</button></li><br>
  <li><button id="3">{{A3}}</button></li><br>
  <li><button id="4">{{A4}}</button></li><br>
  <li><button id="5">{{A5}}</button></li><br>
  <li><button id="6">{{A6}}</button></li> --}}
</ol>
</form>