<h3>The Friends Quiz Continued...</h3>
<h2></h2>

<h1>{{Question}}</h1>
<ol>
  <li><form method="POST" action="/friends/{{id}}" name="{{C1}}" value="{{A1}}"><button type="submit">{{A1}}</button></form></li><br> 
  <li><form method="POST" action="/friends/{{id}}" name="{{C4}}" value="{{A4}}"><button type="submit">{{A4}}</button></form></li><br>
  <li><form method="POST" action="/friends/{{id}}" name="{{C5}}" value="{{A5}}"><button type="submit">{{A5}}</button></form></li><br>
  <li><form method="POST" action="/friends/{{id}}" name="{{C2}}" value="{{A2}}"><button type="submit">{{A2}}</button></form></li><br>
  <li><form method="POST" action="/friends/{{id}}" name="{{C3}}" value="{{A3}}"><button type="submit">{{A3}}</button></form></li><br>
  <li><form method="POST" action="/friends/{{id}}" name="{{C6}}" value="{{A6}}"><button type="submit">{{A6}}</button></form></li>
</ol6