<h3>The Friends Quiz Continued...</h3>

<h1>{{Question}}</h1>
<ol>
  <li><button id="1">{{A1}}</button></li><br> 
  <li><button id="2">{{A2}}</button></li><br>
  <li><button id="3">{{A3}}</button></li><br>
  <li><button id="4">{{A4}}</button></li><br>
  <li><button id="5">{{A5}}</button></li><br>
  <li><button id="6">{{A6}}</button></li>
</ol>